@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
:root {
  --primary-dark: #f5f5dc;
  --primary-light: #343434;
}

body {
  background-color: var(--primary-dark);
  color: var(--primary-light);
  font-family: 'Ubuntu', sans-serif;
}

.nav-links {
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    text-align: right;
    list-style: none;
}

.nav-links li {
    display: inline;
    margin: auto;
    border: 1px solid black;
    padding: 1%;
    border-radius: 0.5rem;
}

.nav-links a {
    color: var(--primary-light);
    display: inline;
    text-decoration: none;
}
.nav-links .active-link {
    font-weight: bold;
}

h1 , .content {
  text-align: center;
}

form {
  width: 50%;
  margin: auto;
}

input,
label {
  display: block;
}

input {
  margin-bottom: 0.5rem;
  width: 100%;
}

#radio {
    width: 10%;
    display:inline-block;
}

button {
  display: block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: transparent;
  columns: var(--primary-light);
  color: var(--primary-light);
  border-color: var(--primary-light);
  border-width: medium;
  padding: 0.5rem;
  border-radius: 0.3rem;

}